# Project data
.idea
**/.env

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
env.bak/
env1/
env2/

# IDEs and editors
.idea/
.vscode
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Compiled files
*.pyd
*.pyo
*.pyw
*.pyz
*.pyzw

# Miscellaneous
.DS_Store
Thumbs.db
.mypy_cache
*-logs.json
