apiVersion: v1
data:
 
  # Admin
  # Django superuser can be created only in TTY mode
  DJANGO_SUPERUSER_PASSWORD: 
  ADMIN_SECRET_KEY: 

  # PostgreSQL
  POSTGRES_USER: 
  POSTGRES_PASSWORD: 
  
  # MinIO
  MINIO_ROOT_USER: 
  MINIO_ROOT_PASSWORD: 

  # IDP
  IDP_KEYCLOAK_CLIENT: 
  IDP_KEYCLOAK_SECRET: 

  VK_CLIENT_ID: 
  VK_CLIENT_SECRET: 

  # UGC
  UGC_SENTRY_DSN: 

  # SMTP
  SMTP_LOGIN:
  SMTP_PASSWORD:

  # RabbitMQ
  RABBITMQ_LOGIN:
  RABBITMQ_PASSWORD:

  # Sendgrid
  SENDGRID_API_KEY:

kind: Secret
metadata:
  name: api-prod-env
  namespace: default
type: Opaque