services:
  postgres:
    image: postgres:13
    volumes:
      - dbstorage:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    env_file:
      - .env
    profiles: ["all", "admin", "etl"]

  postgres-dev:
    extends: postgres
    expose: [5432]
    profiles: ["admin-dev"]

  admin:
    build:
      context: ./../admin
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    environment:
      - DEBUG:True
    env_file:
      - .env
    profiles: ["all", "admin"]


  admin-nginx:
    build:
      context: ./../admin
      dockerfile: nginx/Dockerfile
    depends_on:
      - admin
    restart: always
    volumes:
      - ./../admin/nginx/configs/admin.conf:/etc/nginx/conf.d/configs/admin.conf
      - ./../admin/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    profiles: ["all", "admin"]


  elasticsearch:
    image: elasticsearch:8.6.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - esstorage:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    restart: always
    depends_on:
      - postgres
    profiles: ["all", "etl", "fastapi"]


  etl:
    build:
      context: ./../etl
      dockerfile: Dockerfile
    environment:
      - .env
    depends_on:
      - postgres
      - elasticsearch
    restart: on-failure
    env_file:
      - .env
    profiles: ["all", "etl"]


  redis:
    image: redis
    restart: always
    expose:
      - 6379
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redisstorage:/data
    profiles: ["all", "fastapi"]


  fastapi:
    build:
      context: ./../api
    expose:
      - 8001
    depends_on:
      - elasticsearch
      - redis
    env_file:
      - .env
    ports:
      - "8001:8000"
    profiles: ["all", "fastapi"]

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_storage:/data
    command: server --console-address ":9001" /data
    profiles: ["all", "admin"]

  minio-dev:
    extends: minio
    expose: [9001]
    profiles: ["admin-dev"]

  fileapi:
    build:
      context: ./../file_service
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    depends_on:
      - postgres
      - minio
    profiles: ["all", "admin"]

  fileapi-dev:
    extends: fileapi
    expose: [8001]
    depends_on: !reset ["postgres-dev", "minio-dev"]

    profiles: ["admin-dev"]

volumes:
  dbstorage:
    name: admin-panel-db
    external: true
  esstorage:
    name: admin-panel-es
    external: true
  redisstorage:
    name: admin-panel-redis
    external: true
  minio_storage:
    name: admin-panel-s3
    external: true


