asgiref~=3.7.2
django~=4.2.5
django-debug-toolbar~=4.3.0
django-split-settings~=1.2.0
flake8~=6.1.0
mccabe~=0.7.0
psycopg~=3.1.18
pyflakes~=3.1.0
python-dotenv~=1.0.1
sqlparse~=0.4.4
django-storages~=1.14.3
split_settings~=1.0.0
requests~=2.32.2